{% extends "first-layout.njk"%}

{% block content %}

    <div class="cards-chef">

        {% for chef in chefs %}
            <div class="card-chef">
                <img class="chef-img" src="{{ chef.avatar_url}}" alt="">
                <div class="text">
                    <h3>{{chef.name}}</h3>
                    <p>{{chef.total_recipes}} receitas</p>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock content %}