{% extends "layout.njk" %}

{% block content %}
    <div class="info">
        <h2>Chef:
            {{ chefs.name}}</h2>

        <button>
            <a href="/admin/chef/{{ chefs.id}}/edit">Ediar Chef</a>
        </button>
    </div>

    <main>
        <div class="chef-page">
            <img src="{{chefs.avatar_url}}" alt="">
            <h1>{{chefs.name}}</h1>
            <p>{{chefs.total_recipes}}
                receitas</p>
        </div>

        <h2>Receitas</h2><br>
        <div class="cards">

            {% for recipie in recipes %}
                <div class="card">
                    <img src="{{ recipie.image}}" alt="">
                    <div class="text">
                        <p>{{recipie.title}}</p>
                        <p>{{recipie.author}}</p>
                        <a href="/admin/recipe/details/{{recipie.id}}">Vizualizar</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </main>

{% endblock content %}