@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
html,
body {
    min-height: 100vh;
}
.container {
    max-width: 940px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 80px;
    background-color: #111111;
    margin-bottom: 50px;

}

header .header-content {
    position: absolute;
    left: 18%;
    display: flex;
    align-items: center;
    margin: 25px auto;
}

header .header-content a:first-child {
    margin-right: 50px;
}

header .header-content .links {
    display: flex;
}

header .header-content .links a {
    color: #999999;
    margin-right: 20%;
}

header .header-content .links a.active {
    color: white;
}

/* CARD */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    cursor: pointer;
}

.card img {
    width: 172px;
    height: 80px;
    border-radius: 9px;
    margin-right: 3.5%;
    object-fit: cover;
}

.card .text p:first-child {
    font-size: 18px;
    color: #111111;
    line-height: 21px;
    margin-bottom: 0.5%;
}

.card .text p:nth-child(2) {
    font-size: 14px;
    color: #777777;
    line-height: 16px;
    margin: 3% 0;
}

.card .text a:last-child {
    font-size: 14px;
    color: #6558C3;
    line-height: 16px;
}


.info {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 30px;
}


h2 {
    font-size: 24px;
    color: #111111;

}

/* CARD-CHEF */
.cards-chef {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 60px;
}

.cards-chef .card {
    margin-bottom: 40px;
}

.cards-chef .card img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

/* BOTAO EDITAR */

button {
    background-color: #6558C3;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
}


button a {
    color: white;
}

#form-delete {
    display: inline-block;
}

#form-delete button {

    background-color: #DC4747;
}

#form-put button[type="submit"] {
    position: absolute;
    right: 375px;
    top: 130px;
}

/* CONTENT  DETAILS*/
.content img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 5%;
}

.content-header {
    text-align: center;
    margin-bottom: 4%;
}

.content-header h1 {
    font-size: 36px;
    line-height: 42px;
}

.content-header p {
    font-size: 20px;
    color: #777777;
    opacity: 0.6;
}

.content-recipies h2 {
    margin-bottom: 20px;
}

.content-recipies li,
span {
    font-size: 18px;
    color: #777777;
    list-style-type: none;
}

.content-recipies li:before {
    content: "-";
}

.content-recipies ul {
    margin-bottom: 40px;
    list-style-position: inside;
}

.content-recipies .last-item {
    margin-bottom: 30px;
}

/* FORM */

form h3 {
    font-size: 16px;
    margin-bottom: 1%;
    margin-top: 3%;
}

form div input {
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 15px;
}

form .space {
    margin-bottom: 1%;
}

.AddButton {
    background: white;
    color: #6558C3;
    margin: 0;
    padding: 0;
}

form textarea {
    margin-bottom: 30px;
    padding: 2%;
}

/* CHEF-PAGE */
.chef-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chef-page img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 3%;
}

.chef-page p {
    color: #777777;
    font-size: 20px;
    margin-bottom: 50px;
}

/* PAGINAÇÃO */

.container-cards{
    display:flex;
    flex-direction: column;
    min-height: 80vh;
}

.pagination-container{
    margin-top: auto;
    text-align: center;
}
.pagination a,
.pagination span{
    padding: 4px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #eeeeee;
    background-color: #6558C3;
    margin-right: 2px;
}

.pagination a:hover{
    filter: brightness(125%);
}