* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    margin-top: 3%;
}

/* HEADER */
.container-header {
    display: flex;
    align-items: center;
    margin-bottom: 3.3%;
}

.container-header .img {
    margin-right: 9%;
}

.container-header form {
    margin-left: 200px;
}

.container-header form input {
    width: 240px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
}

.container-header form button[type="submit"] {
    background: #6558C3;
    border-radius: 4px;
    color: white;
    padding: 6px 8px;
}

.container-header a {
    margin-right: 2%;
    text-decoration: none;
    color: #111111;
}

/* SECTION 1 */
.container-section {
    background-color: #FBDFDB;
    border-radius: 30px;
}

.container-section {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.section-content {
    width: 316px;
    margin-left: 4.3%;
}

.section-content h1 {
    font-size: 32px;
}

.section-content p {
    height: 86px;
    font-size: 18px;
    opacity: 0.7;
    line-height: 28px;
}

.container-section img {
    margin-right: 7.1%;
}

/* CARDS */

.container-cards {
    margin: 4.5% 0;
}

.container-cards h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cards .card {
    margin-bottom: 20px;
}


.cards .card img {
    width: 300px;
    height: 140px;
    object-fit: cover;
    border-radius: 6%;
    margin-bottom: 4%;
}

.card h3 {
    font-size: 18px;
    color: #111111;
}

.card p {
    font-size: 14px;
    color: #777777;
    margin-top: 2%;
}

/* CHEF-PAGE */
.cards-chef {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.cards-chef .card-chef {
    display: flex;
    align-items: center;
}

.cards-chef .card-chef img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 4%;
}

.cards-chef .card-chef .text h3 {
    font-size: 18px;
    color: #111111;
    font-weight: normal;
}

.cards-chef .card-chef .text p {
    font-size: 14px;
    color: #666666;
}

/* FOOTER */
footer {
    position: fixed;
    background-color: #EEEEEE;
    text-align: center;
    width: 100%;
    bottom: 0;
}

footer p {
    padding: 2.1% 0 2.1% 0;
    font-size: 14px;
    color: #999999;
}

/* ACTIVE */

.active{
    font-weight: bold;
}