{% extends "layout.njk" %}

{% block content %}

    <form method="POST" action="/chef">
        <div class="info">
            <h2>Criando Chef</h1>

            <button type="submit">
                Salvar Chef
            </button>
        </div>
        <h3>Nome</h3>
        <div>
            <input type="url" name="url_image" placeholder="https://" value="{{chef.url_image}}"/>
        </div>

        <h3>Seu Avatar</h3>
        <div>
            <input type="text" name="name" value="{{chef.name}}" placeholder="https://"/>
        </div>


        
    </form>

    <script src="/js/addInput.js"></script>
{% endblock content %}