{% extends 'layout.njk' %}

{% block content %}
    <div class="container-cards">
        <div class="info">
            <h2>Gerenciar receitas</h1>

            <button>
                <a href="/admin/recipe/create">Nova receita</a>
            </button>
        </div>
        <div class="cards">

            {% for recipie in recipes %}
                <div class="card" id="{{recipie.id}}">
                    <img src="{{files[0].src}}" alt="">
                    <div class="text">
                        <p>{{recipie.title}}</p>
                        <p>{{recipie.chef_name}}</p>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="pagination-container">
            <div class="pagination" data-page="{{pagination.page}}" data-total="{{pagination.total}}"></div>
        </div>
    </div>

{% endblock content %}