<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>Foodfy</title>
    </head>

    <body>
        <div class="container">

            <header class="container-header">
                <div class="img">
                    <a href="/site/index"><img src="/assets/logo1.png" alt="Logo"></a>
                </div>

                <a href="/site/about" class="selected">Sobre</a>
                <a href="/site/recipe">Receitas</a>
                <a href="/site/chefs">Chefs</a>

                <form action="/site" method="get">
                    <input type="text" name="filter" placeholder="Pesquisar" value="{{filter}}">

                    <button type="submit">Buscar</button>
                </form>
            </header>

            {% block content %}{% endblock %}
        </div>
        <footer>
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </footer>

        <script src="/js/script.js"></script>
        <script>
            const currentPage = location.pathname

            const menuItems = document.querySelectorAll(".container-header a")

            for (item of menuItems) {
                if (currentPage.includes(item.getAttribute("href"))) {
                    item
                        .classList
                        .add("active")
                }
            }
        </script>
    </body>

</html>