<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/admin-style.css">

        {% block head %}
            <title>Foodfy</title>
        {% endblock head %}

    </head>
    <body>
        <header>
            <div class="header-content">
                <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"></a>
                <div class="links">
                    <a href="/recipe">Receitas</a>
                    <a href="/chef">Chef</a>
                </div>
            </div>
        </header>

        <div class="container">
            {% block content %}{% endblock content %}
        </div>
        <script src="/js/active.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>