<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/admin-style.css">

        {% block head %}
            <title>Foodfy</title>
        {% endblock head %}

    </head>
    <body>
        <header>
            <div class="header-content">
                <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"></a>
                <div class="links">
                    <a href="/admin/recipe">Receitas</a>
                    <a href="/admin/chef">Chef</a>
                </div>
            </div>
        </header>

        <div class="container">
            {% block content %}{% endblock content %}
        </div>
        <script src="/js/script.js"></script>
        <script src="/js/paginate.js"></script>
        <script>
            const currentPage = location.pathname

            const menuItems = document.querySelectorAll(".header-content .links a")

            for (item of menuItems) {
                if (currentPage.includes(item.getAttribute("href"))) {
                    item
                        .classList
                        .add("active")
                }
            }
        </script>
    </body>
</html>