{% extends "first-layout.njk"%}

{% block header %}
    <header class="container-header">
        <div class="img">
            <a href="/"><img src="/assets/logo1.png" alt="Logo"></a>
        </div>
        <a href="/starter/about">Sobre</a>
        <a href="/starter/recipies" class="selected">Receitas</a>
    </header>
{% endblock %}

{% block content%}

    <div class="container-center">
        <div class="image">
            <img src="{{recipie.image}}" alt="imagem de {{recipie.title}}">
        </div>
        <h1>{{recipie.title}}</h1>
        <p>{{recipie.author}}</p>
    </div>
    <br><br><br>

    <div class="container-content">
        <h3>Ingredientes</h3>
        <span class="btn">esconder</span>
        <ul class="content0">
            {% for i in recipie.ingredients %}
                <li>
                    {{i}}
                </li>
            {% endfor %}

        </ul>
    </div>

    <div class="container-content">
        <h3>Modo de preparo</h3>
        <span class="btn">esconder</span>
        <ul class="content1">
            {%for i in recipie.preparation%}
                <li>
                    {{i}}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="container-content">
        <h3>Informações adicionais</h3>
        <span class="btn">esconder</span>
        <div class="content2">
            <p>{{recipie.information}}</p>
        </div>
    </div>
</div>
<br>
{% endblock %}